.box{
  width: 500px;
  height: 500px;
  margin:100px auto;
  border: 10px solid #000;
  border-radius: 50%;
  position: relative;
}
.son1{
  width: 50px;
  height: 50px;
  background: #fee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius:50%;
}
.son2{
  width: 10px;
  height: 200px;
  border-radius: 10px;
  background: #f40;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  animation: show2 3600s steps(60) infinite;
  transform-origin:top;
}
.son3{
  width: 6px;
  height: 220px;
  border-radius: 6px;
  background: #f0f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: show 60s steps(30) infinite;
  transform-origin:top;
}
.son4{
  width: 6px;
  height: 250px;
  border-radius: 6px;
  /* background: #f0f; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: show3 60s linear infinite;
  transform-origin:top;
  position: relative;
}
.son4:after{
  content: "";
  width: 100px;
  height: 100px;
  background: #f00;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes show3{
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
@keyframes show{
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
@keyframes show2{
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(360deg);
  }
}